/* Coolors Exported Palette - coolors.co/114b5f-028090-e4fde1-456990-f45b69 */

$color1: #114b5f; //rgba(17, 75, 95, 100)
$color2: #028090; //rgba(2, 128, 144, 100)
$color3: #e4fde1; //rgba(228, 253, 225, 100)
$color4: #456990; //rgba(69, 105, 144, 100)
$color5: #f45b69; //rgba(244, 91, 105, 100)
