<<<<<<< HEAD
=======
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Average);

>>>>>>> 989fd70e0a86a616a7b444a99e86ce917fcf5cc8
body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
<<<<<<< HEAD
=======
  font-family: 'Average', 'Times New Roman', 'Times', sans-serif;
}

h1 {
  font-family: 'Fjalla One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
>>>>>>> 989fd70e0a86a616a7b444a99e86ce917fcf5cc8
}

img {
  max-width: 100%;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

div.container {
  border: solid gray 1px;
  max-width: 1000px;
  margin: 0 auto;
}

div.column {
  width: 31%;
  margin-left: 1%;
  padding-right: 1%;
  float: left;
}
<<<<<<< HEAD
=======

p:first-letter {
  font-size: 3em;
  float: left;
  line-height: 0.75em;
  /*font-family: 'Fjalla One', sans-serif;*/
  border: solid black 1px;
  margin-right: 0.1em;
}

@media only screen and (max-width: 767px) {
  div.column {
    float: none;
    width: 100%;
  }
  img {
    display: none;
  }
}


@media print {
  div.column {
    width: 48%;
  }
}
>>>>>>> 989fd70e0a86a616a7b444a99e86ce917fcf5cc8
