<!DOCTYPE html>
<html>
<head>
  <title>Me</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
  <h1 id="brand">
    <a href="/">Facebook</a>
  </h1>
  <ul id="links">
    <li><a href="/you">You</a></li>
    <li><a href="/people">People</a></li>
  </ul>
</nav>
<h1>Welcome to Flacebook!</h1>
<%= yield %>
</body>
</html>