div.red-box {
  float: left;
  border: 5px solid red;
  padding: 5px;
  padding-top: 15px;
  background-color: #FF6666;
  height: 25px;
  margin-right: 5px;
}
div.header {
  width: 960px;
  border: 5px solid red;
  background-color: #FF6666;
  margin-bottom: 10px;
}
div.left-nav {
  float: left;
  width: 200px;
  margin-right: 20px;
  background-color: #FF6666;
  border: 5px solid red;
  height: 300px;
}
div.main-content {
  float: left;
  width: 740px;
  border: 5px solid red;
  background-color: #FF6666;
  height: 300px;
}
div.title {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
}
div.title-header {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  width: 100px;
}
