<!DOCTYPE html>
<html>
<head>
  <title>Star Search</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav>
  <div class="home">
    <a href="/">Youre a star</a>
  </div>
  <ul class="links">
    <li><a href="/about">About</a></li>
    <li><a href="/stars">Stars</a></li>
  </ul>
</nav>
<%= yield %>
</body>
</html>