<% @actors.each do |person| %>
  <h1>Name: <%= person['name'] %></h1>
  <h1>DOB: <%= person['born_on'] %></h1>
  <img src="<%= person['image_url'] %>">
<% end %>

<form action="/star_sub" method="post">
    <h2>Create a new star!</h2>
    <div class="field">
      <label for="star_name">Enter star name: </label>
      <input type="text" name="namesies" id="star_name" />
    </div>
    <div class="field">
      <label for="alive">Is he still with us? </label>
      <input type="radio" name="here" value="alive" checked> Alive
      <input type="radio" name="gone" value="dead"> Dead
    </div>
    <div class="field">
      <label for="dob">Enter star date of birth: </label>
      <input type="date" name="bday" id="dob" />
    </div>
    <div class="field">
      <label for="image">Enter an image url: </label>
      <input type="text" name="picz" value="" id="image" />
    </div>
    <div class="field">
      <label for="idd">Enter an id of some sort: </label>
      <input type="text" name="weirdId" value="" id="idd" />
    </div>
    <div class="actions">
      <input type="submit">
    </div>
</form>