<p>Paragraph Tag</p>
<blockquote>Blockquote</blockquote>

<p>Unsorted List:</p>
<ul>
  <li>List Item 1</li>
  <li>List Item 2</li>
  <ul>
    <li>List Item A</li>
    <li>List Item B</li>
  </ul>
</ul>
