<div class="container text-center">
  <img src="/images/flintstones-house.jpg" style="margin-bottom: -8em;" width="960" height="540">
  <h1 style="color: white; text-shadow: 0 1px 1px black; font-size: 6em;">Hello Internet!</h1>

  <hr />
  <p><big>Welcome to Bedrock Bloggers, the premier blogging platform for Bedrock residents!</big></p>

  <h2>Meet our Bloggers!</h2>
  <div class="row">
    <div class="four columns">
      <h3>
        <a href="/bloggers/1/fred-flintstone">
          <img src="/images/fred-flintstone.png">
          <div>Fred Flintstone</div>
        </a>
      </h3>
    </div>
    <div class="four columns">
      <h3>
        <a href="/bloggers/2/wilma-flintstone">
          <img src="/images/wilma-flintstone.png">
          <div>Wilma Flintstone</div>
        </a>
      </h3>
    </div>
    <div class="four columns">
      <h3>
        <br />
        <a href="/bloggers/3/pebbles-flintstone">
          <img src="/images/pebbles-flintstone.png">
          <div>Pebbles Flintstone</div>
        </a>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <h3>
        <a href="/bloggers/4/betty-rubble">
          <img src="/images/betty-rubble.png">
          <div>Betty Rubble</div>
        </a>
      </h3>
    </div>
    <div class="four columns">
      <h3>
        <a href="/bloggers/5/barney-rubble">
          <img src="/images/barney-rubble.png">
          <div>Barney Rubble</div>
        </a>
      </h3>
    </div>
    <div class="four columns">
      <h3>
        <br />
        <a href="/bloggers/6/bamm-bamm-rubble">
          <img src="/images/bamm-bamm-rubble.png">
          <div>Bamm-Bamm Rubble</div>
        </a>
      </h3>
    </div>
  </div>

</div>
