<h1>Hello Everyone!</h1>
<%= react_component 'LineChart', data: [5, 15, 4, 13, 3] %>
<%= react_component 'RadialGraph', data: [10, 9, 8, 7, ] %>
<%= react_component 'BarChart', data: [1,2,3,4,5,6,7,8,9,10] %>
