body {
  font-family: 'Helvetica Neue';
  background: #666666;
}

h2 {
  font-weight: 200;
  font-size: 3em;
}

ul#cards {
  padding: 2em 0;
}

li.card {
  margin: 2em auto;
  max-width: 600px;
  background-color: #FFFFFF;
  border: solid #666666 2px;
  border-radius: 1em;
  padding: 1em 2em;
  list-style-type: none;
  overflow: auto;
  text-align: center;
}

li.card object, li.card img {
  width: 300px;
  float: left;
}

@media(max-width: 600px) {
  li.card object, li.card img {
    float: none;
  }
}

a {
  border: solid #333333 1px;
  box-shadow: 0 3px 3px #AAAAAA;
  color: black;
  text-decoration: none;
  padding: 0.3em 0.75em;
  border-radius: 0.5em;
}

a.snort {
  background-color: pink;
}