<img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/999052_2760082002578_1460687637_n.jpg?oh=052c66f9a3326f32d3ddb45d7841011a&oe=56A80C4B" />
<h1><%= "#{@person['first_name']} #{@person['last_name']}" %></h1>
