<h1>Create a new cheese</h1>

<form action="/cheeses" method="post">
  <h3>Enter the name of the cheese: </h3>
  <input type="text" name="name">
  <br/>
  <h3>What type of milk is it made from: </h3>
  <input type="text" name="milk_type">
  <br/>
  <h3>Describe the cheese: </h3>
  <input type="text" name="description">
  <br/>
  <h3>Enter pic url: </h3>
  <input type="text" name="image_url">
  <br/>
  <input type="submit">
</form>