<div class="container">
  <h1>The Office</h1>
  <hr />
  <h1>Thank You!</h1>

  <output>
    <div class="field">
      Your Name: <%= @form['name'] %>
    </div>
    <div class="field">
      Your Email: <%= @form['email'] %>
    </div>
  </output>

</div>
