<div class="container">
  <h1>The office</h1>
  <hr />
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
  <form action="/for-office-use-only" method="post">
    <div class="field">
      <label for="office_name">Enter your name: </label>
      <input type="text" name="name" value="" id="office_name" />
    </div>
    <div class="field">
      <label for="office_password">Enter your password: </label>
      <input type="password" name="password" id="office_password" />
    </div>
    <div class="actions">
      <input type="submit" value="Send Me On My Wayward Son" />
    </div>
  </form>
</div>